/* .services-Card-Hover{
    display: none;
} */

.service-card-d{
    border: 2px solid #00ac7a;
    border-radius:20px;
}
.service-card-d:hover{
    border: 4px solid #00ac7a;
    border-radius:20px;
}
.service-img img{
    border-radius:20px;
    padding:20px;
}
.ser-h1{
    color:#00ac7a;
    font-size:20px;
}