.hs_profile_social ul {
    list-style: none;
    padding-left: 0px;
    float: left;
    width: 100%;
    margin: -4px 0px 6px 0px;
}
.hs_profile_social ul li {
	float:left;
	margin-right:9px;
}
.hs_profile_social ul li:last-child{
	margin-right:0;
}
.hs_profile_social ul li a {
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: block;
    color: #7f9aa0;
    border: 1px solid #7f9aa0;
    text-align: center;
    border-radius: 3px;
}
.hs_profile_social ul li a i {
	min-width: 15px;
}
.hs_profile_social ul li:hover a {
	border-color: #00ac7a;
	background: #00ac7a;
}
.hs_profile_social ul li:hover a i{
	color: #fff;
}
