.login,.form-topS{
    margin-top:80px;
    margin-bottom:20px;
}
.login-bg{
  font-weight: 400;
  font-family: sans-serif;
  /* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  */
  border-radius:50px;
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.form-st{
    padding:20px;
}

